@using Microsoft.AspNetCore.Identity
@using Pakland.Models
@inject UserManager<ApplicationUser> _userManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdnjs.cloudflare.com
    https://cdn.jsdelivr.net; connect-src 'self' ws://localhost:5000 https://cdnjs.cloudflare.com
    https://cdn.jsdelivr.net;"> *@

    <title>@ViewData["Title"] - Pakland</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pakland.styles.css" asp-append-version="true" />
    <style>
        /* Gradient background for navbar */
        .navbar-custom {
            background: linear-gradient(to right, #5fffc0, #279eb2);
        }

        /* Center-align dropdown content */
        .dropdown-menu-center {
            text-align: center;
            left: 50% !important;
            transform: translateX(-50%);
        }

        /* Magnification effect on Navbar Links */
        .navbar-nav .nav-link {
            transition: transform 0.3s;
        }

        .navbar-nav .nav-link:hover {
            transform: scale(1.1);
            /* Scale up to 110% on hover */
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pakland</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link property-details-link" asp-area="" asp-controller="PropertyDetails"
                                asp-action="Index">Property Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="PropertyDetails"
                                asp-action="MyProperties">MarketPlace</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var user = await _userManager.FindByNameAsync(User.Identity.Name);
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Hello, @user.FullName!
                                </a>
                                <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="Identity"
                                            asp-page="/Account/Manage/Index">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout"
                                            asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                            <button type="submit" class="btn btn-link text-dark">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Pakland - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.property-details-link').on('click', function (e) {
                    var isAdmin = @User.IsInRole("Admin").ToString().ToLower();
                    if (!isAdmin) {
                        e.preventDefault();
                        alert('This section is only accessible to admins.');
                    }
                });
            });

        </script>
    }
</body>

</html>
